body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

label {
	display: block;
	text-align: left;
	margin-top: 0.5rem;
	font-size: 0.875rem;
	letter-spacing: 5px;
}

input[type=text], input[type=password] {
	display: block;
	width: 100%;
	margin-top: 0.25rem;
	border-radius: 0.375rem;
}

input[type=submit], input[type=button] {
	display: inline-block;
	width: auto;
	min-width: 150px;;
	margin-top: 1rem;
	border-radius: 0.375rem;
}

button {
	display: block;
	width: 50%;
	margin-top: 0.25rem;
	border-radius: 0.375rem;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg6, .bgimg7 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image */
.bgimg-1 {
  background-image: url('../images/parallax1.jpg');
  min-height: 100%;
}

/* Second image */
.bgimg-2 {
  background-image: url("../images/parallax2.jpg");
  min-height: 100%;
}

/* Third image */
.bgimg-3 {
  background-image: url("../images/parallax3.jpg");
  min-height: 100%;
}

/* Fourth image */
.bgimg-4 {
	background-image: url("../images/parallax4.jpg");
	min-height: 100%;
}

/* Fifth image */
.bgimg-5 {
	background-image: url("../images/parallax5.jpg");
	min-height: 100%;
}

/* Sixth image */
.bgimg-6 {
	background-image: url("../images/parallax6.jpg");
	min-height: 100%;
}

/* Seventh image */
.bgimg-7 {
	background-image: url("../images/parallax7.jpg");
	min-height: 100%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
.w3-table-all tr:nth-child(2n) {background-color: #3f3f3f;}
.w3-table-all tr:nth-child(2n+1) {background-color: #000 !important;}
.w3-table-all thead tr {border-bottom: double;}
.w3-table-all tfoot tr:nth-child(2n+1) {border-top: double;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg6, .bgimg7 {
    background-attachment: scroll;
    min-height: 400px;
  }
}